/***** BASE STYLES *****/
body {
	font-family: 'noto serif', sans-serif;
}
#header,#main, #about, #skills, #work, #contact {
	height: 600px;
}
body, html {
	height:100%;
}
/***** GRID *****/
.full-width {
	width: 1200px;
	margin: 0 auto;
}
.half-width {
	width:600px;
	float: left;
}
.third-width {
	width: 400px;
	float: left;
}
/***** Header *****/
header {
	height: auto;
	background: url('../img/main-img-two.png');
	background-position: center;
	width: 100%;
    padding: 0 0 20%;
    border: 1px solid;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
 }
 header h1 {
 	padding: 50px 0;
 	font-family: 'noto sans', sans-serif;
 	font-size: 36px;
 	color: white;
 }
 header h2 {
 	width:900px;
 	clear: both;
 	font-family: 'noto sans', sans-serif;
 	font-size: 72px;
 	line-height: 80px;
 	color: white;
 	padding: 20px 0;
 }
 nav {
 	float: right;
 	padding: 75px 40px;
 }
 nav ul li {
 	display: inline-block;
 }
 nav ul li a {
 	text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-left: 30px;
    font-family: 'noto sans', sans-serif;
 }
 /***** ABOUT *****/
 #about .full-width {
 	padding: 80px 0;
 }
 #about h3 {
font-family: 'noto sans', sans-serif;
font-size: 36px;
 }
 #about p {
 	font-family: 'noto serif', serif;
 	font-size: 21px;
 	line-height: 40px;
 }
 #about img {
 	padding-left:120px;
 	padding-top: 30px;
 }
 /***** Skills *****/
#skills {
	background: #D3D3D3;
	text-align: center;
}
#skills .full-width {
	padding: 115px 0px;
}
#skills img {
	padding-bottom: 30px
}
#skills h3 {
	font-family: 'noto sans', sans-serif;
	font-size: 30px;
	margin: 0 auto;
}
#skills p {
	font-family: 'noto serif' serif;
	font-size: 20px;
	padding: 0 35px;
}
/***** Work *****/
#work {
	background: #D3D3D3;
}
#work .full-width {
	padding: 115px 0;
}
#work p {
	font-size:20px;
	text-align: center;
	font-family: 'noto sans', sans-serif;
	font-weight: bold;
}
#work img {
	padding: 20px;
}
/***** Contact *****/
#contact {
	background: url('../img/footer-img.png');
	background-repeat: none;
	background-size: cover;
	background-position: center;
}
#contact .full-width {
	padding: 110px 0;
}
#contact .half-width h2{
	font-size:56px;
	font-family: 'noto sans', sans-serif;
	text-transform: uppercase;
	font-style: italic;
	color:white;
}
#contact .half-width h3 {
	font-size: 36px;
	color:white;
}
#contact .half-width h4 {
	font-size: 30px;
	color: white;
	text-indent: 3em;
	padding-top: 220px;
}
#contact ul {
	list-style: none;
}
#contact ul li {
	display: inline-block;
	margin-left: 75px;
} 